<div class ="container">
  <div class ="row">
    <div class ="card-panel">
      <h3 class="center-align"><%= entry.country %></h3>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Day 1</div>
            <div class="collapsible-body">
              <% list.forEach(function(list){%>
              <p><%= list.activity %></p>
                <!-- <a href="#" style="font-size: 16px;font-weight: 300;color:black;float:right"><i class="material-icons" style="vertical-align:bottom;">loupe</i>Edit</a> -->
                <!-- <a href="#" style="font-size: 16px;font-weight: 300;color:black;float:right"><i class="material-icons" style="vertical-align:bottom;">loupe</i>Edit</a> -->
                <% }) %>
              <a href="/plan/itinerary/create/<%= entry.id %>/list" style="font-size: 16px;font-weight: 300;color:black;margin-left:20px;margin-top:0.3rem;"><i class="material-icons" style="vertical-align:bottom;">add</i>Add</a>
              <a href="/plan/itinerary/edit/<%= entry.id %>" style="font-size: 16px;font-weight: 300;color:black;margin-left:10px;margin-top:0.3rem;"><i class="material-icons" style="vertical-align:bottom;">loupe</i>Edit</a>
            </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Day 2</div>
          <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
                <a href="/plan/itinerary/create/<%= entry.id %>/list" style="font-size: 16px;font-weight: 300;color:black;margin-left:20px;margin-top:0.3rem;"><i class="material-icons" style="vertical-align:bottom;">add</i>Add</a>
                <a href="/plan/itinerary/edit/<%= entry.id %>" style="font-size: 16px;font-weight: 300;color:black;margin-left:10px;margin-top:0.3rem;"><i class="material-icons" style="vertical-align:bottom;">loupe</i>Edit</a>
            </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Day 3</div>
          <div class="collapsible-body">
              <p>Lorem ipsum dolor sit amet.</p>
              <a href="/plan/itinerary/create/<%= entry.id %>/list" style="font-size: 16px;font-weight: 300;color:black;margin-left:20px;margin-top:0.3rem;"><i class="material-icons" style="vertical-align:bottom;">add</i>Add</a>
              <a href="/plan/itinerary/edit/<%= entry.id %>" style="font-size: 16px;font-weight: 300;color:black;margin-left:10px;margin-top:0.3rem;"><i class="material-icons" style="vertical-align:bottom;">loupe</i>Edit</a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
